#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background-image: linear-gradient(to right, rgb(187, 0, 255) , rgb(250, 96, 238), rgb(246, 119, 242), rgb(236, 128, 241), rgb(237, 154, 246), white   );
}

#note{
    color:blueviolet;
}